DB_HOST=your_server_ip
DB_PORT=5432
DB_NAME=your_database
DB_USER=your_user
DB_PASSWORD=your_password

OPENSKY_USER=your_opensky_username
OPENSKY_PASSWORD=your_opensky_password
OPENSKY_CLIENT_ID=your_opensky_client_id
OPENSKY_CLIENT_SECRET=your_opensky_client_secret

DB_CLIENT_ID=your_db_client_id
DB_API_KEY=your_db_api_key
